:root {
  --color-primary: #2e2f42;
  --link-secondary: #434455;
  --link-hover: #404bbf;
  --background-calar-hero: #2e2f42;
  --color-text-hero: #ffffff;
  --color-text-footer: #e7e9fc;
  --background-color-btn-hero: #4d5ae5;
  --background-color-btn-hero-hover: #404bbf;
  --color-text-features-p: #434455;
  --background-color-primary: #ffffff;
  --background-color-our-team: #f4f4fd;
  --accent-active-color: #404bbf;
  --hover-effect: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backround-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}

body {
  color: var(--color-primary);
  background-color: var(--background-color-primary);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}
button {
  cursor: pointer;
}
.conteiner {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (min-width: 480px) {
  .conteiner {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }
  .conteiner-footer {
    width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
/* ================header============= */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-color: #e7e9fc;
  border-style: solid;
  border-width: 0 0 1px 0;
}
.page-header-conteiner {
  display: flex;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px;
}
.logo {
  text-decoration: none;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.3;
  font-family: "Raleway", sans-serif;
  color: #2e2f42;
  text-transform: uppercase;

  margin-left: 0px;
}
.logo-Web {
  color: #4d5ae5;
}
.nav-conteiner {
  display: none;
}
.address {
  display: none;
}

.menu-open-buttton {
  height: 22px;
  width: 32px;
  border: none;
  background-color: #fff;
}
.menu-open-buttton-icon {
  fill: #2e2f42;
  height: 22px;
  width: 32px;
  transition: fill var(--hover-effect);
}
.menu-open-buttton-icon:focus,
.menu-open-buttton-icon:hover {
  fill: #404bbf;
}
/* ======================mobile-menu============ */
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  background-color: #fff;
}
.mobile-menu-conteiner {
  position: relative;
  padding-top: 80px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
}
.mobile-menu-close-btn {
  position: absolute;
  top: 24px;
  right: 12px;
  background-color: #e7e9fc;
  height: 24px;
  width: 24px;
  border-radius: 12px;
  border: none;
  transition: background-color var(--hover-effect);
}
.mobile-menu-close-btn:hover,
.mobile-menu-close-btn:focus {
  background-color: #404bbf;
}
.mobile-close-btn-icon {
  height: 8px;
  width: 8px;
  transition: fill var(--hover-effect);
}
.mobile-menu-close-btn:hover .mobile-close-btn-icon,
.mobile-menu-close-btn:focus .mobile-close-btn-icon {
  fill: #fff;
}
.mobile-menu.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.menu-open-buttton {
  display: block;
  margin-left: auto;
}

.mob-menu-item:not(:last-child) {
  padding-bottom: 40px;
}
.mob-menu-link {
  color: var(--color-primary);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.1;
  font-style: normal;
}
.mob-menu-item.select .mob-menu-link {
  color: #404bbf;
}
.mob-menu-tel-item {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.1;
  color: #4d5ae5;
  margin-bottom: 40px;
  margin-top: 20px;
}
.mob-menu-mail-item {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.mob-menu-mail-link {
  color: #434455;
}

.mobile-menu > .conteiner {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
/* ===============mobile-menu-footer============ */
.mobile-menu-footer-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 56px;
  row-gap: 24px;
  padding-top: 48px;
  padding-bottom: 40px;
}

.mobile-menu-footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--hover-effect);
}
.our-team-footer-list-link:hover,
.our-team-footer-list-link:focus {
  background-color: #404bbf;
}
.mobile-menu-footer-icon {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* ==================== main ================== */
/* ==================== hero ==================*/

.hero {
  background-image: var(--backround-gradient),
    url(../images/bg/mobail-dark-bg.jpg);
  background-size: cover;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-calar-hero);
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--backround-gradient),
      url("../images/bg/mobail-dark-bg@2x.jpg");
  }
}
.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  color: var(--color-text-hero);
  text-align: center;
  padding-bottom: 72px;
  max-width: 325px;
  margin-left: auto;
  margin-right: auto;
}

.button-hero {
  background-color: var(--background-color-btn-hero);
  color: var(--color-text-hero);
  line-height: 1.5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;

  min-width: 169px;
  min-height: 56px;
  padding-top: 16px;
  padding-bottom: 16px;
  /* margin-left: auto;
  margin-right: auto; */
  transition: background-color var(--hover-effect);
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--background-color-btn-hero-hover);
}
/* ======================features conteiner ================*/
.features-item-icon {
  display: none;
}

.features {
  padding-top: 96px;
  padding-bottom: 96px;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 72px;
}

.features-item {
  flex-basis: 100%;
}

.text-features-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-primary);
  margin-bottom: 8px;
  text-align: center;
}
.text-features-p {
  color: var(--color-text-features-p);
  width: 100%;
  /* margin-bottom: 72px; */
  font-weight: 500;
}

/* ======================text-what-are ================*/
.what-are {
  display: none;
}

/* ==================Our-Team============= */
.section-our-team {
  background-color: var(--background-color-our-team);
  padding: 96px 0 128px 0;
}
.text-our-team {
  text-align: center;
  padding-bottom: 72px;
  font-size: 36px;
  font-weight: 700;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0px;
  row-gap: 72px;
  /* gap: 24px; */
}

.our-team-item {
  /* flex-basis: calc((100% - 72px) / 4); */
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}
.our-team-item:not(:last-child) {
  margin-bottom: 0px;
}

.our-team-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  padding-top: 32px;
}

.our-team-p {
  color: var(--color-text-features-p);
  text-align: center;
  margin-top: 8px;
  padding-bottom: 8px;
}
.our-team-text {
  width: inherit;
  background-color: #fff;
}
/* ===============our-team-footer============ */
.our-team-footer-list {
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  padding-bottom: 32px;
}

.our-team-footer-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color var(--hover-effect);
}
.our-team-footer-list-link:hover,
.our-team-footer-list-link:focus {
  background-color: #404bbf;
}
.our-team-footer-icon {
  width: 16px;
  height: 16px;
  fill: #f4f4fd;
}

/* =============Customers============ */
.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  margin-bottom: 72px;
}

.coustomers-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.coustomers-items {
  flex-basis: calc((100% - 1 * 16px) / 2);
  height: 88px;
  border-style: solid;
  border-width: 1px;
  border-color: #8e8f99;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color var(--hover-effect);
}

.coustomers-items-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.coustomers-items-icon {
  width: 104px;
  height: 56px;
  fill: #8e8f99;
  transition: fill var(--hover-effect);
}

.coustomers-items:is(:hover, :focus) .coustomers-items-icon {
  fill: var(--accent-active-color);
}
.coustomers-items:is(:hover, :focus) {
  border-color: var(--accent-active-color);
}

/* .coustomers-items-icon:is(:hover, :focus) {
  fill: #404bbf;
} */
/* .coustomers-items:is(:hover, :focus) .coustomers-items-icon {
  fill: #404bbf;
 } */

/* ====================footer========================= */
.footer {
  background-color: var(--background-calar-hero);
  padding-top: 96px;
  padding-bottom: 96px;
}
.conteiner-footer {
  /* width: 428px; */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.logo-web-footer {
  /* display: flex; */
  margin-bottom: 16px;
  text-align: center;
}
/* .text-social {
  margin-left: 269px;
} */
.logo-footer-studio {
  color: #f4f4fd;
}
.footer-text {
  color: var(--color-text-footer);
  margin-top: 16px;
  margin: 0 auto;
  max-width: 264px;
}
/* .footer-div {
  display: flex;
} */
.footer-text-social {
  margin-top: 72px;
}
.text-footer-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  text-align: center;
}
.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 16px;
}

.footer-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--hover-effect);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
  background-color: #31d0aa;
}
.our-team-footer-icon-grean {
  width: 24px;
  height: 24px;
  fill: #f4f4fd;
}
/* ==================modal-form-footer============== */
.footer-form {
  margin-left: 0px;
  padding-top: 72px;
}
.footer-form-title {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin-bottom: 16px;
  text-align: center;
}
.footer-form-field-btn {
  justify-content: center;
}
.footer-form-submit {
  background-color: var(--background-color-btn-hero);
  color: var(--color-text-hero);
  line-height: 1.5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  margin-top: 16px;
  margin-left: calc(50% - (165px / 2));

  text-align: center;
  width: 165px;
  height: 40px;
  padding-right: 64px;
  transition: background-color var(--hover-effect);
}
.footer-form-submit:hover,
.footer-form-submit:focus {
  background-color: var(--background-color-btn-hero-hover);
}
.footer-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  line-height: 1.33;
  padding-left: 16px;
  font-weight: 400;
  transition: border-color var(--hover-effect);
}
.footer-form-imput:focus {
  outline: none;
  background-color: inherit;
  color: #ffffff;
  border-color: #4d5ae5;
}

.footer-form-input-wraper {
  position: relative;
}

.footer-form-input-icon {
  position: absolute;
  top: 50%;
  right: 20.4px;

  transform: translateY(-50%);
  fill: #fff;
  height: 24px;
  width: 24px;
}
/* ==================modal-window============= */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  overflow-y: auto;
  transition: opacity 250ms var(--hover-effect),
    visibility 250ms var(--hover-effect);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  padding: 72px 24px 24px 24px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;

  min-height: 584px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 392px;
  }
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: background-color var(--hover-effect);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
}
.modal-close-btn-icon {
  width: 8px;
  height: 8px;
  transition: fill var(--hover-effect);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #fff;
}
/* ==================modal-form============== */
.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-title {
  font-weight: 500px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 2%;
  margin-bottom: 14px;
  color: #000000;
}
.modal-form-field {
  margin-bottom: 0px;
}
.modal-form-input-wraper {
  position: relative;
  display: block;
  margin-bottom: 8px;
}
.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);
  height: 18px;
  width: 18px;
  fill: #2e2f42;
}
.modal-form-input-icon:hover {
  fill: #4d5ae5;
}
.modal-form-imput {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 38px;
  color: #000000;
  font-size: 16px;
  line-height: 1.33;
  margin-bottom: 0px;
  font-weight: 400;

  transition: border-color var(--hover-effect), fill var(--hover-effect);
}
.modal-form-imput:focus {
  outline: none;
  border-color: #4d5ae5;
}

.modal-form-imput:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-form-input-desc {
  display: block;
  font-size: 12px;
  line-height: 1.33;
  margin-bottom: 4px;
  font-weight: 400;
  color: #8e8f99;
}
.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color var(--hover-effect);
}
.modal-form-message:focus {
  outline: none;
  border-color: #4d5ae5;
}
.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: 4%;
  color: #757575;
  margin-top: 8px;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  display: block;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  width: 16px;
  height: 16px;
  content: "";
  cursor: pointer;
  margin-right: 8px;
  transition: background-color var(--hover-effect), border var(--hover-effect),
    background-image var(--hover-effect);
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: #404bbf;
  border: none;
  outline: none;
  background-image: url(../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  outline: none;
  border: 2px solid #404bbf;
}
.modal-form-submit {
  background-color: var(--background-color-btn-hero);
  color: var(--color-text-hero);
  line-height: 1.5;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 4%;
  margin: auto;
  width: 169px;
  padding: 16px 32px;
  transition: background-color var(--hover-effect);
}
/*===================portfolio=========================*/
/*====================button=================*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio button {
  background-color: #f4f4fd;
  color: #4d5ae5;
  border-color: #e7e9fc;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  cursor: pointer;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  transition: color var(--hover-effect), background-color var(--hover-effect),
    box-shadow var(--hover-effect), border-color var(--hover-effect);
}
.portfolio button:hover,
.portfolio button:focus {
  background-color: #404bbf;
  color: #ffffff;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
  border-color: #404bbf;
}
.button-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 265px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.portfolio {
  padding-top: 48px;
}
.button-portfolio-item:not(:last-child) {
  margin-right: 24px;
  margin-bottom: 16px;
}

/* ======================portfolio elements=============== */

.flex-conteiner {
  /* display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px; */
  margin-top: 48px;
}
.flex-element {
  /* flex-basis: calc((100% - 48px) / 3); */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: box-shadow var(--hover-effect);
  margin-bottom: 48px;
}
.flex-element:hover,
.flex-element:focus {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 2px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.portfolio-list-link-wrapper {
  display: block;
}
.portfolio-list-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overley {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #f4f4fd;
  background-color: #4d5ae5;
  transform: translate(0, 100%);
  transition: transform var(--hover-effect);

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  padding-top: 40px;
  padding-left: 32px;
  padding-right: 32px;
}
.portfolio-list-link-wrapper:hover .overley,
.portfolio-list-link-wrapper:focus .overley {
  transform: translate(0, 0);
}

.flex-element-text {
  border-color: #e7e9fc;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0;
  padding-bottom: 32px;
  padding-left: 16px;
  padding-top: 32px;
}
.text-features-title-portf {
  padding-bottom: 8px;
  font-size: 20px;
  text-align: left;
}
.portfolio-text-features-p {
  color: #434455;
}
@media screen and (min-width: 768px) {
  .conteiner {
    width: 768px;
  }
  .conteiner-footer {
    width: 768px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero {
    background-image: var(--backround-gradient),
      url(../images/bg/tablete-dark-bg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--backround-gradient),
        url("../images/bg/tablete-dark-bg@2x.jpg");
    }
  }
  .menu-open-buttton {
    display: none;
  }
  .header {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .header-navigation {
    display: flex;
    align-items: center;
  }
  .header-list {
    display: flex;
    align-items: center;
    padding-left: 123px;
  }
  .header-link {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    padding-top: 24px;
    padding-bottom: 22px;
    font-weight: 500;
    line-height: 1.5;
    font-style: normal;
    transition: color var(--hover-effect);
  }
  .header-item {
    position: relative;
  }

  .link-studio::after {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translate(0, -3px);
    display: block;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
  }
  .underline::after {
    content: "";
    background-color: var(--action-color);
  }

  .header-link:hover,
  .header-link:focus {
    color: var(--link-hover);
  }

  .address {
    font-style: normal;
    display: block;
    margin-left: auto;
    padding-top: 24px;
  }
  /* .address-list {
    display: flex;
    align-items: center;
  } */

  .header-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-link {
    color: var(--link-secondary);
    font-weight: inherit;
    transition: color var(--hover-effect);
    font-size: 12px;
    line-height: 1.14;
  }
  .address-item:not(:last-child) {
    padding-bottom: 0px;
  }

  /* ==================== main ================== */
  /* ==================== hero ==================*/
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }
  .hero {
    max-width: 768px;
  }
  .hero-title {
    font-size: 56px;
    padding-bottom: 40px;
    line-height: 1.07;
    max-width: 497px;
  }
  /* ======================features conteiner ================*/
  .features-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  .text-features-title {
    text-align: left;
    font-size: 36px;
    line-height: 1.11;
  }
  /* .text-features-p {
    margin-bottom: 72px;
  } */
  /* ==================Our-Team============= */
  .section-our-team {
    padding: 96px 0px 104px 0;
  }
  .our-team-list {
    padding: 0px 92px 0px 92px;
  }
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }
  .our-team-item {
    flex-basis: calc((100% - 24px) / 2);
  }
  /* =============Customers============ */
  .coustomers-list {
    gap: 24px;
  }
  .coustomers-items {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /* ====================footer========================= */
  .footer {
    background-color: var(--background-calar-hero);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .conteiner-footer {
    padding-left: 108px;
  }
  .logo-web-footer {
    /* display: flex; */
    text-align: left;
  }
  /* .footer-text {
    margin: 0 24px 0 0;
  } */
  .footer-div {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
  }
  .footer-text-social {
    padding-left: 24px;
    margin-top: 0;
  }
  .text-footer-social {
    text-align: left;
  }
  .footer-form-title {
    text-align: left;
  }

  .footer-form-field-btn {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }

  .footer-form-imput {
    width: 264px;
    margin-right: 24px;
  }
  /* ==========modal-form-footer=== */
  .footer-form-submit {
    margin-top: 0;
  }
  .footer-form-submit {
    margin-left: 0px;
  }
  /* ==================modal-window============= */
  .modal {
    width: 408px;
    height: 584px;
  }
  /* ======================portfolio =============== */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio button {
    background-color: #f4f4fd;
    color: #4d5ae5;
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    transition: color var(--hover-effect), background-color var(--hover-effect),
      box-shadow var(--hover-effect), border-color var(--hover-effect);
  }
  .portfolio button:hover,
  .portfolio button:focus {
    background-color: #404bbf;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-color: #404bbf;
  }
  .button-portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
  }
  .button-portfolio-item:not(:last-child) {
    margin-right: 24px;
  }
  .button-portfolio-item:not(:last-child) {
    margin-right: 24;
    margin-bottom: 0;
  }
  /* ======================portfolio elements=============== */
  .flex-conteiner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
  }

  .flex-element {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1160px;
  }
  .conteiner-footer {
    width: 1160px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .hero {
    background-image: var(--backround-gradient),
      url(../images/bg/desktop-dark-bg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--backround-gradient),
        url("../images/bg/desktop-dark-bg@2x.jpg");
    }
  }
  .menu-open-buttton {
    display: none;
  }
  /* ================header============= */

  .logo {
    margin-right: 76px;
  }

  .header-list {
    display: flex;
    align-items: center;
  }
  .header-link {
    padding-bottom: 24px;
  }

  /* .underline::after {
  content: "";
  background-color: var(--action-color);
} */

  .header-link:hover,
  .header-link:focus {
    color: var(--link-hover);
  }

  .address {
    font-style: normal;
    margin-left: auto;
    padding-top: 0;
  }
  .address-list {
    display: flex;
    align-items: center;
  }

  .header-item:not(:last-child) {
    margin-right: 40px;
  }
  .address-link {
    color: var(--link-secondary);
    font-weight: inherit;
    transition: color var(--hover-effect);
    font-size: 16px;
    line-height: 1.5;
  }

  .address-link:hover,
  .address-link:focus {
    color: var(--link-hover);
  }
  .address-item:not(:last-child) {
    margin-right: 40px;
  }
  /* ==================== main ================== */
  /* ==================== hero ==================*/

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    padding-bottom: 48px;
    max-width: 500px;
  }

  .button-hero {
    transition: background-color var(--hover-effect);
  }

  .button-hero:hover,
  .button-hero:focus {
    background-color: var(--background-color-btn-hero-hover);
  }
  /* ======================features conteiner ================*/
  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
  .features-item-icon {
    width: 264px;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
  .features-icon {
    height: 64px;
    width: 64px;
  }
  .text-features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--color-primary);
    margin-bottom: 8px;
  }

  /* ======================text-what-are ================*/
  .what-are {
    display: block;
    padding-bottom: 120px;
  }
  .text-what-are,
  .text-our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 72px;
    text-align: center;
  }
  .what-are-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .what-are-item {
    flex-basis: calc((100% - 48px) / 3);
  }
  /* ==================Our-Team============= */
  .our-team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
  }

  .our-team-item {
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 4px;
  }
  .text-our-team {
    margin-bottom: 0;
  }

  .our-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    padding-top: 32px;
  }
  .section-our-team {
    background-color: var(--background-color-our-team);
    padding-top: 120px;
    padding-bottom: 120px;

    margin: 0 auto;
  }
  .our-team-p {
    padding-bottom: 8px;
  }
  /* ===============our-team-footer============ */
  /* =============Customers============ */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .coustomers-list {
    display: flex;
    align-items: center;
    gap: 24px;
  }
  .coustomers-items {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  .coustomers-items:is(:hover, :focus) .coustomers-items-icon {
    fill: var(--accent-active-color);
  }
  .coustomers-items:is(:hover, :focus) {
    border-color: var(--accent-active-color);
  }

  /* ====================footer========================= */
  .footer {
    background-color: var(--background-calar-hero);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .conteiner-footer {
    padding-left: 0;
  }
  .logo-web-footer {
    display: flex;
  }
  .text-social {
    margin-left: 269px;
  }
  .logo-footer-studio {
    color: #f4f4fd;
  }
  .footer-text {
    color: var(--color-text-footer);
    margin-top: 16px;
    width: 264px;
  }
  .footer-div {
    display: flex;
    flex-wrap: nowrap;
  }
  .footer-text-social {
    padding-left: 0px;
  }
  .footer-text-social {
    margin-left: 120px;
  }
  .text-footer-social {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
  }
  .footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 16px;
  }

  .footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color var(--hover-effect);
  }
  .footer-social-list-link:hover,
  .footer-social-list-link:focus {
    background-color: #31d0aa;
  }
  .our-team-footer-icon-grean {
    width: 24px;
    height: 24px;
    fill: #f4f4fd;
  }
  /* ==================modal-form-footer============== */
  .footer-form {
    margin-left: 80px;
    padding-top: 0;
  }
  .footer-form-title {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
    margin-bottom: 16px;
  }
  .footer-form-submit {
    background-color: var(--background-color-btn-hero);
    color: var(--color-text-hero);
    line-height: 1.5;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    margin-left: 24px;
    width: 165px;
    height: 40px;
    padding-right: 64px;
    transition: background-color var(--hover-effect);
  }
  .footer-form-submit:hover,
  .footer-form-submit:focus {
    background-color: var(--background-color-btn-hero-hover);
  }
  .footer-form-imput {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: inherit;
    border-radius: 4px;
    padding-left: 0px;
    color: #fff;
    font-size: 16px;
    line-height: 1.33;
    padding-left: 16px;
    font-weight: 400;
    transition: border-color var(--hover-effect);
    margin-right: 0;
  }
  .footer-form-imput:focus {
    outline: none;
    background-color: inherit;
    color: #ffffff;
    border-color: #4d5ae5;
  }
  .footer-form-input-wraper {
    position: relative;
  }
  .footer-form-input-icon {
    position: absolute;
    top: 50%;
    right: 24px;
    transform: translateY(-50%);
    fill: #fff;
    height: 24px;
    width: 24px;
  }
  /* ======================portfolio buttons=============== */
  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio button {
    background-color: #f4f4fd;
    color: #4d5ae5;
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    cursor: pointer;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    transition: color var(--hover-effect), background-color var(--hover-effect),
      box-shadow var(--hover-effect), border-color var(--hover-effect);
  }
  .portfolio button:hover,
  .portfolio button:focus {
    background-color: #404bbf;
    color: #ffffff;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.5);
    border-color: #404bbf;
  }
  .button-portfolio-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .button-portfolio-item:not(:last-child) {
    margin-right: 24px;
  }

  /* ======================portfolio elements=============== */

  .flex-conteiner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    margin-top: 72px;
  }
  .flex-element {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    transition: box-shadow var(--hover-effect);
  }
  .flex-element:hover,
  .flex-element:focus {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 2px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }

  .portfolio-list-link-wrapper {
    display: block;
  }
  .portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
  }

  .overley {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #f4f4fd;
    background-color: #4d5ae5;
    transform: translate(0, 100%);
    transition: transform var(--hover-effect);

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .portfolio-list-link-wrapper:hover .overley,
  .portfolio-list-link-wrapper:focus .overley {
    transform: translate(0, 0);
  }

  .flex-element-text {
    border-color: #e7e9fc;
    border-style: solid;
    border-width: 1px;
    border-top-width: 0;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-top: 32px;
  }
  .text-features-title {
    padding-bottom: 8px;
  }
}
